{% extends "base.html" %}

{% block title %} Runners {% endblock %}


{% block content %}

<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-10">



               <h1>Welcome to PaceSetters!</h1>
  <p><strong>Catchphrase: "Run Your Race, Set Your Pace!"</strong></p>

  <p>Welcome to PaceSetters, where every step forward is a step towards achieving your personal best. Whether you're gearing up for your first 5k or you're an experienced marathoner looking to shatter personal records, PaceSetters is here to guide you on your journey. With state-of-the-art tracking, personalized training plans, and a supportive community at your fingertips, we're more than just an app; we're your newest running partner.</p>

  <p>At PaceSetters, we understand that every runner's journey is unique. That's why our application offers customizable features that cater to your individual goals, fitness level, and schedule. From interactive routes that challenge and inspire, to detailed progress tracking that celebrates every milestone, we're with you every step of the way. Plus, with access to our global community of fellow runners, you'll find motivation, advice, and perhaps even some friendly competition to keep you moving forward.</p>

  <p>Join us at PaceSetters and embrace the journey ahead. Because here, it's not just about the distance you cover; it's about the experiences you gain, the limits you push, and the community you build. <strong>Run Your Race, Set Your Pace!</strong> Let's lace up and explore what's possible together.</p>





            </div>
        </div>
    </div>
</section>





{% endblock %}